/* Root Style */
:root {
  --color-white: #fff;
  --color-blue: #027cc4;
}

.image-full {
  max-width: 100%;
  max-height: 100%;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Style */

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar .navbar-brand img {
  width: 100%;
  max-width: 12em;
}

/* Footer Style */

footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 25vh;
  padding: 2em;
}

footer img {
  width: 100%;
  max-width: 15em;
  margin-bottom: 2em;
}


/* Homepage Style */

.head-banner_content_group {
  height: 50vh;
}
.head-banner_content_group .left_head_banner{
  color: var(--color-white);
}
.head-banner_content_group .right_head_banner{
  background-repeat: no-repeat;
  background-size: cover;
}

.hight_light_banner_group {
  padding: 5em;
  height: 25vh;
}

.quote_banner_group {
  height: 50vh;
  padding: 5em;
  font-size: 2em;
  background-repeat: no-repeat;
  background-size: cover;
}